body{
    margin: 0;
    background-color: white;
}

.main_div
{
    display: flex;
    /* border is temp */
    /* border: 2px solid black; */
    height: 700px;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    

    
}

#pic
{
    height: 100px;
    position: absolute;
    top:25%

    
}

#Gmail
{
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 4%;
    right: 18%;
}

#button
{
    position: absolute;
    border: 2px solid 
    #1A73E8;
    background-color: 
    #1A73E8;
    font-size: 14px;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    padding: 3px;
    line-height: 23px;
    

    text-decoration: none;
    width: 80px;
    height: 27px;
   
    border-radius:9px;
    top: 3%;
    right: 2%;
}


#image
{
    position: absolute;

    top: 3.77%;
    right: 12.5%;
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    

}

#input
{
    position: absolute;
    top: 44%;
    left: 486px;
    width: 36%;
    border: 1px solid rgb(196, 187, 187);
    border-radius: 20px;
    height: 39px;
}

#mag
{
    position: absolute;
    top: 45.666%;
    left: 33%;
    color: #9aa0a6;
    height: 21px;
}

#mic
{
    height: 23px;
    position: absolute;
    left: 66%;
    top: 45.2%;
}

#dots
{
    position: absolute;
    top: 3%;
    right: 9%;
  height: 29px;
}

#gsearch
{
    position: absolute;
    top: 54.5%;
    left: 39.8%;
    text-decoration: none;
    /* border: #9aa0a6 1px solid; */
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}